{% extends "layout.html" %}
{% block content %}
    <div class="main-header">
        <br>
        <h1>Client Information</h1>
        <br>
        {% for message in form.search_by.errors %}
        <div>{{ message }}</div>
        {% endfor %}

        {% for message in form.search.errors %}
        <div>{{ message }}</div>
        {% endfor %}

        {% if client_exists == 'False' %}
        <h5>Server could not find client using search criteria.</h5>
        <br>
        {% endif %}

        {% if value_error == 'True' %}
        <h5>ID search criteria must be a positive integer.</h5>
        <br>
        {% endif %}

        <form method=POST action="{{ url_for('client_views.client_info') }}">
            <fieldset>
                {{ form.hidden_tag() }}
                <div>
                    {{ form.search_by.label }}
                    {{ form.search_by }}
                    <br>
                    <br>
                    <i class="fa fa-search"></i>
                    {{ form.search }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}