{% extends "layout.html" %}
{% block content %}
    <div class="main-header">
      {% if is_admin == True %}
      <h1>User Registration</h1>
      <br>
      {% for message in form.username.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.password.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.firstname.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.lastname.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.work_email.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.phone.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.job_title.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.supervisor.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.is_admin.errors %}
         <div>{{ message }}</div>
      {% endfor %}

         <form method=POST action="{{ url_for('user_views.create_user') }}">
            <fieldset>
                {{ form.hidden_tag() }}
                <div>
                    {{ form.username.label }}
                    {{ form.username }}
                    <br>
                    <br>
                    {{ form.password.label }}
                    {{ form.password }}
                    <br>
                    <br>
                    {{ form.firstname.label }}
                    {{ form.firstname }}
                    <br>
                    <br>
                    {{ form.lastname.label }}
                    {{ form.lastname }}
                    <br>
                    <br>
                    {{ form.work_email.label }}
                    {{ form.work_email }}
                    <br>
                    <br>
                    {{ form.phone.label }}
                    {{ form.phone }}
                    <br>
                    <br>
                    {{ form.job_title.label }}
                    {{ form.job_title }}
                    <br>
                    <br>
                    {{ form.supervisor.label }}
                    {{ form.supervisor }}
                    <br>
                    <br>
                    {{ form.is_admin.label }}
                    {{ form.is_admin }}
                    <br>
                    <br>
                    {{ form.confirm.label }}
                    {{ form.confirm }}
                    <br>
                    <br>
                    {{ form.submit }}
                </div>
            </fieldset>
         </form>
        {% else %}
        <h2>You must have admin privileges to access this page</h2>
        {% endif %}
    </div>
{% endblock content %}