{% extends "layout.html" %}
{% block content %}
    <div class="main-header">
        <h1>{{ user.firstname }} {{ user.lastname }}</h1>
        <br>
        <h4>Contact Information</h4>
        <table>
            <tr>
                <th>Username</th>
                <th>Job Title</th>
                <th>Work Email</th>
                <th>Phone</th>
                <th>Supervisor</th>
            </tr>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.job_title }}</td>
                <td>{{ user.work_email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.supervisor }}</td>
            </tr>
        </table>
        <br>
        <br>
        <h4>Facility Information</h4>
        <br>
        <br>
        <h4>Current Direct Case Assignments</h4>
        <br>
        <br>
        <h4>Workgroup Enrollments</h4>
        <br>
        <br>
        <h4>Current Staff Supervising</h4>
        <br>
        <br>
    </div>
{% endblock content %}