{% extends "layout.html" %}
{% block content %}
    <div class="main-header">
        <h1>Update Client {{ client.firstname }} {{ client.middlename }} {{ client.lastname }} {{ client.suffix }}</h1>
        <br>
        <h6>Click on the property you would like to update.</h6>
        <div>
            <br>
            <h5>ID# {{ client.clientID }}</h5>
            <br>
            <h4>Identifying Info</h4>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'lastname'} }}">Last Name</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'firstname'} }}">First Name</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'middlename'} }}">Middle Name</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'suffix'} }}">Name Suffix</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'ssn'} }}">Social Security Number</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'driver_license_number'} }}">Driver License Number</a>
                    </th>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'lastname'} }}">{{ client.lastname }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'firstname'} }}">{{ client.firstname }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'middlename'} }}">{{ client.middlename }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'suffix'} }}">{{ client.suffix }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'ssn'} }}">{{ client.ssn }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'driver_license_number'} }}">
                        {{ client.driver_license_number }}</a>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'gender'} }}">Gender</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'genderID'} }}">Gender Identity</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'sexual_orientation'} }}">Sexual Orientation</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'race'} }}">Race</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'ethnicity'} }}">Ethnicity</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'religion'} }}">Religion</a></th>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'gender'} }}">{{ client.gender }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'genderID'} }}">{{ client.genderID }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'sexual_orientation'} }}">{{ client.sexual_orientation }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'race'} }}">{{ client.race }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'ethnicity'} }}">{{ client.ethnicity }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'religion'} }}">{{ client.religion }}</a>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <h4>Address Information</h4>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'type',
                           'num': '1'} }}">Address Type</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'street_address',
                           'num': '1'} }}">Street Address</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'city',
                           'num': '1'} }}">City</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'state',
                           'num': '1'} }}">State</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'zip_code',
                           'num': '1'} }}">ZIP Code</a></th>
                </tr>
                {% for i in range(client.addresses|length) %}
                <tr class="r0">
                    <td>{{ i+1 }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'type',
                           'num': i} }}">{{ client.addresses[i|string]['type'][1] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'street_address',
                           'num': i} }}">{{ client.addresses[i|string]['street_address'] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'city',
                           'num': i} }}">{{ client.addresses[i|string]['city'] }}</a>
                    </td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'state',
                           'num': i} }}">{{ client.addresses[i|string]['state'] }}</a>
                    </td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'addresses',
                           'to_update': 'zip_code',
                           'num': i} }}">{{ client.addresses[i|string]['zip_code'] }}</a></td>
                </tr>
                {% endfor %}
            </table>
            <a class="header-btn"
               href="{{ '/add-dictfield/%(clientID)s-%(field)s' %
               {'clientID': client.clientID,
               'field': 'addresses'} }}">+ Add address</a>
            <br>
            <br>
            <br>
            <h4>Contact Information</h4>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'phone_home'} }}">Home Phone</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'phone_cell'} }}">Cell Phone</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'phone_work'} }}">Work Phone</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'email'} }}">Email</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'contact_pref'} }}">Preferred Contact Method</a></th>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'phone_home'} }}">{{ client.phone_home }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'phone_cell'} }}">{{ client.phone_cell }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'phone_work'} }}">{{ client.phone_work }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'email'} }}">{{ client.email }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'contact_pref'} }}">{{ client.contact_pref }}</a></td>
                </tr>
            </table>
            <br>
            <br>
            <h4>Guardian Information</h4>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'guardian_info',
                           'to_update': 'guardian_name',
                           'num': '1'} }}">Guardian Name</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'guardian_info',
                           'to_update': 'guardian_type',
                           'num': '1'} }}">Guardian Type</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'guardian_info',
                           'to_update': 'guardian_phone',
                           'num': '1'} }}">Guardian Phone</a></th>
                </tr>
                {% for i in range(client.guardian_info|length) %}
                <tr class="r0">
                    <td>{{ i+1 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'guardian_info',
                           'to_update': 'guardian_name',
                           'num': i} }}">{{ client.guardian_info[i|string]['guardian_name'] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'guardian_info',
                           'to_update': 'guardian_type',
                           'num': i} }}">{{ client.guardian_info[i|string]['guardian_type'][1] }}</a>
                    </td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'guardian_info',
                           'to_update': 'guardian_phone',
                           'num': i} }}">{{ client.guardian_info[i|string]['guardian_phone'] }}</a></td>
                </tr>
                {% endfor %}
            </table>
            <a class="header-btn"
               href="{{ '/add-dictfield/%(clientID)s-%(field)s' %
               {'clientID': client.clientID,
               'field': 'guardian_info'} }}">+ Add guardian</a>
            <br>
            <br>
            <br>
            <h4>Emergency Contact Info</h4>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_name',
                           'num': '1'} }}">Name</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_relationship',
                           'num': '1'} }}">Relationship To</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_address',
                           'num': '1'} }}">Address</a></th>
                </tr>
                {% for i in range(client.emergency_contacts|length) %}
                <tr class="r0">
                    <td>{{ i+1 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_name',
                           'num': i} }}">{{ client.emergency_contacts[i|string]['ER_name'] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_relationship',
                           'num': i} }}">
                        {{ client.emergency_contacts[i|string]['ER_relationship'][1] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_address',
                           'num': i} }}">{{ client.emergency_contacts[i|string]['ER_address'] }}</a></td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_phone',
                           'num': '1'} }}">Phone</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_email',
                           'num': '1'} }}">Email</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_can_visit',
                           'num': '1'} }}">Can Visit</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_can_pickup',
                           'num': '1'} }}">Can Pick Up Client</a></th>
                </tr>
                {% for i in range(client.emergency_contacts|length) %}
                <tr class="r0">
                    <td>{{ i+1 }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_phone',
                           'num': i} }}">{{ client.emergency_contacts[i|string]['ER_phone'] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_email',
                           'num': i} }}">{{ client.emergency_contacts[i|string]['ER_email'] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_can_visit',
                           'num': i} }}">
                        {{ client.emergency_contacts[i|string]['ER_can_visit'] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'emergency_contacts',
                           'to_update': 'ER_can_pickup',
                           'num': i} }}">{{ client.emergency_contacts[i|string]['ER_can_pickup'] }}</a></td>
                </tr>
                {% endfor %}
                </tr>
            </table>
            <a class="header-btn"
               href="{{ '/add-dictfield/%(clientID)s-%(field)s' %
               {'clientID': client.clientID,
               'field': 'emergency_contacts'} }}">+ Add emergency contact</a>
            <br>
            <br>
            <br>
            <h4>Demographic Information</h4>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'dob'} }}">Date of Birth</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'intake_date'} }}">Intake Date</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'discharge_date'} }}">Discharge Date</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'veteran_status'} }}">Veteran Status</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'is_veteran'} }}">Is Veteran</a></th>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'dob'} }}">{{ client.dob }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'intake_date'} }}">{{ client.intake_date }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'discharge_date'} }}">{{ client.discharge_date }}</a>
                    </td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'veteran_status'} }}">{{ client.veteran_status }}</a>
                    </td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'is_veteran'} }}">{{ client.is_veteran }}</a></td>
                </tr>
            </table>
            <br>
            <br>
            <h5>Marital History</h5>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'marital_hist',
                           'to_update': 'marital_status',
                           'num': '1'} }}">Status</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'marital_hist',
                           'to_update': 'div_reason',
                           'num': '1'} }}">Reason for Separation</a></th>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'marital_hist',
                           'to_update': 'marital_status',
                           'num': '1'} }}">{{ client.marital_hist['marital_status'][1] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'marital_hist',
                           'to_update': 'div_reason',
                           'num': '1'} }}">{{ client.marital_hist['div_reason'] }}</a></td>
                </tr>
            </table>
            <br>
            <br>
            <h5>Disabilities</h5>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'disabilities',
                           'to_update': 'disability_name',
                           'num': '1'} }}">Name</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'disabilities',
                           'to_update': 'disability_description',
                           'num': '1'} }}">Description</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'disabilities',
                           'to_update': 'disability_accommodations',
                           'num': '1'} }}">Accommodations</a></th>
                </tr>
                {% for i in range(client.disabilities|length) %}
                <tr class="r0">
                    <td>{{ i+1 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'disabilities',
                           'to_update': 'disability_name',
                           'num': i} }}">{{ client.disabilities[i|string]['disability_name'] }}</a>
                    </td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'disabilities',
                           'to_update': 'disability_description',
                           'num': i} }}">
                        {{ client.disabilities[i|string]['disability_description'] }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s-%(num)s' %
                           {'clientID': client.clientID,
                           'field': 'disabilities',
                           'to_update': 'disability_accommodations',
                           'num': i} }}">
                        {{ client.disabilities[i|string]['disability_accommodations'] }}</a></td>
                </tr>
                {% endfor %}
            </table>
            <a class="header-btn"
               href="{{ '/add-dictfield/%(clientID)s-%(field)s' %
               {'clientID': client.clientID,
               'field': 'disabilities'} }}">+ Add disability</a>
            <br>
            <br>
            <br>
            <h4>Employment/Education</h4>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'employment_status'} }}">Employment Status</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'education_level'} }}">Highest Education Level</a>
                    </th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'spoken_langs'} }}">Spoken Languages</a></th>
                    <th><a class="header-btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'reading_langs'} }}">Reading Languages</a></th>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'employment_status'} }}">{{
                        client.employment_status }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'education_level'} }}">{{
                        client.education_level }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'spoken_langs'} }}">{{ client.spoken_langs }}</a></td>
                    <td><a class="btn"
                           href="{{ '/update-client-field/%(clientID)s-%(field)s' %
                           {'clientID': client.clientID, 'field': 'reading_langs'} }}">{{ client.reading_langs }}</a>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <h4>Medicaid Info</h4>
            <table>
                <tr>
                    <th><a class="header-btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s' %
                           {'clientID': client.clientID,
                           'field': 'medicaid',
                           'to_update': 'medicaid_number'} }}">Medicaid Number</a></th>
                </tr>
                <tr>
                    <td><a class="btn"
                           href="{{ '/update-dictfield/%(clientID)s-%(field)s-%(to_update)s' %
                           {'clientID': client.clientID,
                           'field': 'medicaid',
                           'to_update': 'medicaid_number'} }}">{{ client.medicaid['medicaid_number'] }}</a></td>
                </tr>
            </table>
            <br>
            <br>
        </div>
        <br>
        <br>
    </div>
{% endblock content %}